.dungeon-header {
  grid-column: 2 / 3;
  justify-self: center;
  width: fit-content;
  border: 4px solid #c43b00;
  padding: 1rem;
  margin-bottom: 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #008b7d;
  font-weight: bold;
}
.header-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 80%;
  padding: 10px 20px;
}

.dungeon-intro {
  display: flex;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  grid-column: 1 / -1;
}
